[Unit]
Description=gunicorn_kittygram daemon
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/infra_sprint1/backend/
ExecStart=/home/ubuntu/infra_sprint1/backend/venv/bin/gunicorn --bind 127.0.0.1:8080 kittygram_backend.wsgi

[Install]
WantedBy=multi-user.target
